{{page-title 'Schedule'}}

<div class='fb-row w-100% ml-2 mt-2'>
    <div class='courses-container w-6 h-min-6 h-max-80vh blue-border ba bw-2'>
        <Compositions::CourseList
            @scheduleName={{this.scheduleName}}
            @onScheduleNameChange={{this.onScheduleNameChange}}
            @selectedCourse={{this.selectedCourse}}
            @onSelectCourse={{fn (mut this.selectedCourse)}}
        />
    </div>
    <div class='tasks-container ml-7 h-max-80vh'>
        <Compositions::TasksTable
            @selectedCourse={{this.selectedCourse}}
        />
    </div>
</div>