<div class='fb-row fb-align-center fb-justify-space-between mb-1'>
    <div class='fb-row'>
        <span class='f-4'>
            Task filters: 
        </span>
        <PowerSelect
            class='w-4 mh-2'
            @placeholder='Date filter'
            @selected={{this.dateFilter}}
            @options={{this.dateFilterOptions}}
            @onChange={{fn (mut this.dateFilter)}}
            as |option|
        >
            {{option}}
        </PowerSelect>
        <PowerSelect
            class='w-4'
            @placeholder='Completion filter'
            @selected={{this.completionFilter}}
            @options={{this.completionFilterOptions}}
            @onChange={{fn (mut this.completionFilter)}}
            as |option|
        >
            {{option}}
        </PowerSelect>
    </div>
    <Blocks::Button class='blue-border' {{on 'click' (fn (mut this.creationMode) true)}}>Add Task +</Blocks::Button>
</div>

<EmberTable as |t|>
    <t.head
        @columns={{this.columns}}
        @fillMode='last-column'
        @enableReorder={{false}}
        @enableResize={{false}}
        as |h|
    >
        <h.row as |r|>
            <r.cell class='tasks-table-header' as |column|>
                {{column.name}}
            </r.cell>
        </h.row>
    </t.head>
    <t.body
        @rows={{this.filteredRows}}
        @onSelect={{this.onSelectTask}}
        @selection={{this.selectedTask}}
        @checkboxSelectionMode='none'
        @rowSelectionMode='single'
        as |b|
    >
        <b.row
            class='Table-row border-bottom task-row-color-{{b.rowValue.courseColor}}'
            as |r|
        >
            <r.cell as |cellValue column|>
                {{#if (eq column.valuePath 'dueDate')}}
                    {{display-date cellValue type='short'}}
                {{else if (eq column.valuePath 'isCompleted')}}
                    {{!-- template-lint-disable require-input-label --}}
                    <div class='fb-row fb-justify-center fb-align-center'>
                        <Input class='task-completion-checkbox' @type='checkbox' @checked={{cellValue}} {{on 'input' (fn this.completeTask cellValue b.rowValue.id)}}/>
                    </div>
                {{else}}
                    {{cellValue}}
                {{/if}}
            </r.cell>
        </b.row>
    </t.body>
</EmberTable>

{{#if this.creationMode}}
    <Compositions::TasksTable::TaskUpdateModal
        @onClose={{fn (mut this.creationMode) false}}
    />
{{/if}}
{{#if this.selectedTask}}
    <Compositions::TasksTable::TaskUpdateModal
        @onClose={{fn (mut this.selectedTask) undefined}}
        @task={{this.selectedTask}}
    />
{{/if}}