<EmberTable as |t|>
    <t.head
        @columns={{this.columns}}
        @fillMode='last-column'
        @enableReorder={{false}}
        @enableResize={{false}}
        {{!-- @scrollIndicators='vertical' --}}
        as |h|
    >
        <h.row as |r|>
            <r.cell class='tasks-table-header' as |column|>
                {{column.name}}
            </r.cell>
        </h.row>
    </t.head>
    <t.body
        @rows={{this.rows}}
        {{!-- @onSelect={{queue (fn (mut this.selectedTask)) this.sayHello}} --}}
        @onSelect={{this.onSelectTask}}
        @selection={{this.selectedTask}}
        @checkboxSelectionMode='none'
        @rowSelectionMode='single'
        as |b|
    >
        <b.row
            class='Table-row border-bottom task-row-color-{{b.rowValue.courseColor}}'
            as |r|
        >
            <r.cell {{!--class='pv-1'--}} as |cellValue column|>
                {{#if (eq column.valuePath 'dueDate')}}
                    {{display-date cellValue type='short'}}
                {{else if (eq column.valuePath 'isCompleted')}}
                    {{!-- template-lint-disable require-input-label --}}
                    <div class='fb-row fb-justify-center fb-align-center'>
                        {{!-- <Input class='task-completion-checkbox' @type='checkbox' @checked={{cellValue}} {{on 'input' (fn this.firestore.updateTask b.rowValue)}}/> --}}
                        <Input class='task-completion-checkbox' @type='checkbox' @checked={{cellValue}} {{on 'input' (fn this.completeTask cellValue b.rowValue.id)}}/>
                    </div>
                {{else}}
                    {{cellValue}}
                {{/if}}
            </r.cell>
        </b.row>
    </t.body>
</EmberTable>

<Blocks::Button class='blue-border mt-3' {{on 'click' (fn (mut this.creationMode) true)}}>Add Tasks +</Blocks::Button>

{{#if this.creationMode}}
    <Compositions::TasksTable::TaskCreationModal
        @onClose={{fn (mut this.creationMode) false}}
    />
{{/if}}
{{#if this.selectedTask}}
    <Compositions::TasksTable::TaskCreationModal
        @onClose={{fn (mut this.selectedTask) undefined}}
        @task={{this.selectedTask}}
    />
{{/if}}