<div class='fb-column ml-2'>
    <Blocks::HeaderInput
        @value={{this.firestore.scheduleName}}
        @placeholder='Enter schedule name'
        @onSubmit={{@onScheduleNameChange}}
    />
    {{#each this.firestore.courses as |course|}}
        <div class='fb-row mv-2'>
            <Blocks::Button class='w-3 pa-1 course-color-{{course.color}}'>{{course.code}}</Blocks::Button>
            <Blocks::Button class='edit-button h-1 w-1 pa-0 ml-1' {{on 'click' (fn (mut this.courseToEdit) course)}}>
                <Blocks::Icon class='mr-0 pa-0 w-80%' @filename='edit'/>
            </Blocks::Button>
        </div>
    {{/each}}
    <Blocks::Button class='w-3 pa-1 mv-4 blue-border' {{on 'click' (fn (mut this.creationMode) true)}}>Add Course +</Blocks::Button>
</div>
{{#if this.creationMode}}
    <Compositions::CourseList::CourseModal
        @onClose={{fn (mut this.creationMode) false}}
    />
{{else if this.courseToEdit}}
    <Compositions::CourseList::CourseModal
        @onClose={{fn (mut this.courseToEdit) undefined}}
        @course={{this.courseToEdit}}
    />
{{/if}}